body {
    background-color: hsla(213, 10%, 89%, 0.61);
}
header {
    height: 10vh;
    background-color: rgb(56, 131, 197);
}
#headline {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: bisque;

}
#headline label {
    font-size: calc(20px + .5vw);
    padding: 2vh;
}

#section1 {
    height: 10vh;
    background-color: aqua;
}
#intro {
    position: relative;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    display: block;
    height: auto ;
    width: 40% ;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 5px 6px rgba(0, 0, 0, 0.23);
    background-color: greenyellow;
}

#intro p {
    text-align: center;
    font-size: 15px;
    background-color: rgba(247, 247, 247, 0.4);
}
#intro p span {
    background-color: inherit;
    color: inherit;
}
#section2 {
    height: 50vh;
    background-color: rgb(199, 45, 45);
}
#top-ten-block {
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    padding-top: 5px;
}
#t_feeds {
    background-color: rgba(223, 144, 70, 0.931);
    width: 30%;
    display: flex;
    justify-content: center;
}
#t_feeds div {
    display: flex;;
    height: 90%;
    width: 90%;
    margin: 5%;
}
#t_songs {
    background-color: rgba(221, 223, 70, 0.931);
    height: 100%;
    width: 30%;
}
#t_news {
    background-color: rgba(164, 223, 70, 0.931);
    height: 100%;
    width: 30%;
}
#section3 {
    height: 35vh;
    background-color: rgb(209, 209, 49);
    display: flex;
    justify-content: center;
}
footer {
    text-align: center;
    height: 10vh;
    background-color: purple;
}